* {
    margin: 0;
    padding: 0;
    line-height: 1.5rem;
}

.home-body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.post-body, .home-body { background-color: papayawhip; }

.post-body { padding: 2rem; }

.post-body div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.post-cards {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    gap: 2rem;
    max-width: 700px;
}

.post-card {
    padding: auto 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
}

.post {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-height: 250px;
    overflow: hidden;
}

.post-card hr { background-color: black; height: 1px; margin: auto 1rem; }
a { text-decoration: none; }
p { font-size: 17px; }

